.comment-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--foreground-color);
    background-image: linear-gradient(var(--highlight-color) -1%, 10%, var(--foreground-color));
    border-radius: 10px;
    box-shadow: var(--small-shadow);
    width: min(600px, 100%);
}

.comment-card-author {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--background-color);
    text-decoration: none;
    --filter: var(--background-img-filter);
}

.comment-card-author:hover, 
.comment-card-author:focus {
    --filter: var(--middleground-img-filter);
    color: var(--middleground-color);
    text-decoration: underline;
}

.comment-card-img-wrapper {
    width: 40px;
    display: flex;
}

.comment-card-img-wrapper img {
    width: 100%;
}

.comment-card-img-wrapper img.default {
    filter: var(--filter);
}

.comment-card-author-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-card-date {
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: .9rem;
    opacity: .8;
}

.comment-card-content {
    margin: .6rem 0;
    font-size: clamp(.9rem, .5rem + 2vw, 1rem);
}

.comment-card-options {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: .5rem;
}

.comment-card-options button {
    cursor: pointer;
    outline: none;
    border: none;
    width: 25px;
    display: flex;
    background: none;
    --filter: var(--middleground-img-filter);
}

.comment-card-options button img {
    filter: var(--filter);
}

.comment-card-options button:hover, 
.comment-card-options button:focus {
    --filter: var(--highlight-img-filter);
}

#comment-card-edit {
    font-family: "roboto", sans-serif;
    font-size: clamp(.9rem, .5rem + 2vw, 1rem);
    margin: .6rem 0;
    padding: .5rem;
    min-height: 100px;
    max-height: 400px;
    resize: none;
    field-sizing: content;
    border-radius: 10px;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-muted);
    border: 2px solid var(--middleground-color);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    scrollbar-color: var(--foreground-color) rgb(0, 0, 0, 0);
}

.comment-card .errors {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    border-bottom: 1px solid var(--background-color);
}

.comment-card .error {
    width: 100%;
    word-break: break-word;
}