header {
    background-color: var(--background-color);
    background-image: linear-gradient(var(--middleground-color), 20%, var(--background-color));
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 0;
    position: sticky;
    top: 0;
    position: relative;
}

header > a {
    color: var(--text-muted);
    text-decoration: none;
}

.banner {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.banner-title {
    font-size: 1.5rem;
    color: var(--text-muted);
    letter-spacing: .02rem;
}

.logo-img-wrapper {
    width: 40px;
    display: flex;
}

.logo-img-wrapper img {
    width: 100%;
    filter: var(--foreground-img-filter)
}

.header-menu a {
    color: var(--text-muted);
    text-decoration: none;
    outline: none;
}

.header-menu a:hover, .header-menu a:focus {
    text-decoration: underline;
}

.header-menu {
    display: flex;
    gap: 3rem;
}

header nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.user-menu-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 1rem;
    gap: .2rem;
    color: var(--text-muted);
    font-family: "roboto";
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0, 0);
    outline: none;
}

.user-profile-img {
    width: 40px;
}

.user-menu-btn:hover, .user-menu-btn:focus {
    border-color: var(--foreground-color);
}

.user-profile-img.default {
    filter: var(--foreground-img-filter);
}

.user-menu {
    position: absolute;
    background-color: var(--highlight-color);
    top: 100%;
    right: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: var(--small-shadow);
}

.user-menu.hidden {
    display: none;
}

.user-menu > * {
    width: 10ch;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--background-color);
    font-size: 1rem;
    font-family: "roboto";
    background: none;
    border: none;
    outline: none;
    padding: 1rem;
}

.user-menu > a {
    border-radius: 10px 10px 0 0;
}

.user-menu > button {
    border-radius: 0 0 10px 10px;
}

.user-menu > *:hover, .user-menu *:focus {
    background-color: var(--foreground-color);
}

.user-menu-btn-wrapper {
    position: relative;
}

.header-menu-btn {
    cursor: pointer;
    outline: none;
    background: none;
    width: 35px;
    display: flex;
    border: 1px solid rgb(0, 0, 0, 0);
    border-radius: 5px;
    display: none;
}

.header-menu-btn:hover, .header-menu-btn:focus {
    border-color: var(--text-muted);
}

.header-menu-btn img {
    width: 100%;
    filter: var(--text-muted-img-filter);
}



@media only screen and (width <= 600px) {
    .banner-title {
        display: none;
    }
}



@media only screen and (width <= 500px) {
    .header-menu-btn {
        display: flex;
    }

    .header-menu {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background-color: var(--background-color);
        background-image: linear-gradient(var(--middleground-color) -10%, 15%, var(--background-color));
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
        transform-origin: top;

        animation-name: drop-down;
        animation-fill-mode: backwards;
        animation-timing-function: ease-in-out;
        animation-duration: .4s;
    }

    .header-menu.hidden {
        display: none;
    }
}



@keyframes drop-down {
    0% {transform: scaleY(0);}
    70% {transform: scaleY(1.2);}
    100% {transform: scaleY(1);}
}